@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700);


#stats-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.sec-1 {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.years {
  font-size: 350px;
  text-align: center;
  font-weight: bold;
  line-height: 1;
}

.text-img {
  position: relative;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to bottom right, #1F305D, rgb(24, 95, 177));
  -webkit-background-clip: text;
  width: 100%;
  margin-left: 60px;
  margin-right: 20px;
}

#particles-js {
  position: absolute;
  width: 410px;
  height: 380px;
  top: 0;
  left: 0;
}

.particles-js-canvas-el {
  position: relative;
  top: -15px;
  left: 5%;
}

.experience {
  width: 60%;
}

.experience h2 {
  border-left: 5px solid rgb(177, 177, 177);
  padding-left: 20px;
  margin-bottom: 20px;
}

.experience h6 {
  font-size: 15px;
  color: rgb(95, 95, 95);
}


.sec-2 {
  width: 40%;
  display: flex;
	justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sec-2 h5 {
  margin: 0;
}

.stats {
  width: 40%;
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.stats .fas {
  color: #1F305D;
  font-size: 60px;
}

.counter-flex {
  display: flex;
  flex-direction: row;
}


.button {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  cursor: pointer;
  background: #e7e7e7;
  border: none;
  padding: 1.2rem 3rem;
  font-family: inherit;
  position: relative;
}

.button::before, .button::after {
  position: absolute;
  top: 0;
  height: 100%;
}

.button--mimas {
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	font-weight: 700;
	font-size: 0.85rem;
	overflow: hidden;
	color: #fff;
}

.button--mimas span {
	position: relative;
	mix-blend-mode: difference;
}

.button--mimas::before {
	content: '';
	background: rgb(20, 20, 20);
	width: 120%;
	left: -10%;
	transform: skew(30deg);
	transition: transform 0.4s ease;
}

.button--mimas:hover::before {
	transform: translate3d(100%,0,0);
}

@media screen and (max-width: 1000px) {
  p {
    font-size: 20px;
  }
  .stats-div {
    height: 100%;
    flex-direction: column;
  }
  .sec-1 {
    width: 100%;
    height: 400px;
    margin-right: 50px;
  }
  .sec-2 {
    width: 100%;
    align-items: normal;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .stats {
   margin: 0;
   width: 100%;
  }
  .experience h6 {
    font-size: 19px;
  }
  .particles-js-canvas-el {
    left: 15%
  }
}


