
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Raleway", sans-serif;
  color: #444444;
}

a {
  color: #e03a3c;
  text-decoration: none;
}

a:hover {
  color: #e76668;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ED1B26;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #c5111a;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: rgba(243, 247, 255, 0);
  transition: all 0.5s;
  z-index: 997;
  padding: 10px 0;
}
#header.header-scrolled {
  padding: 0px 0;
  background: rgba(13, 30, 65, 0.425);
  box-shadow: 0px 2px 15px rgba(82, 82, 82, 0.281);
}
#header .logo img {
  max-height: 60px;
  margin-top: -3px;
  margin-right: 10px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #111111;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.514);
  text-transform: uppercase;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 7px 10px;
  margin: 10px 10px;
  position: relative;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(201, 38, 38);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar a:hover:after { 
  width: 100%; 
  left: 0; 
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
.download ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0 20px 0 0 !important;
}
.download ul li a img {
  width: 40px;
  margin: 0 10px;
  -webkit-filter: brightness(100%);
  transition: all 0.5s ease;
}

.download ul li a img:hover {
  -webkit-filter: brightness(70%);
  
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  background-color: #ffffffb0;
  padding: 5px 8px;
  color: #2b2b2b;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
  background-color: rgb(185, 41, 41);
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #111111;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #e03a3c;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #e03a3c;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#hero video {
  margin-top: 200px;
  z-index: 0;
}
.hero-vid-mobile {
  margin-top: -150px !important;
  width: 100%;
}

#hero .container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  z-index: 1;
}
#hero .hero-logo {
  width: 280px;
  margin-bottom: 20px;
  z-index: 1;
}
#hero h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0;
  font-size: 52px;
  margin-bottom: 20px;
  color: #fff;
}
#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #e03a3c;
  border: 2px solid #e03a3c;
}
#hero .btn-get-started:hover {
  background: transparent;
  border-color: #fff;
}

@media (max-width: 1060px) {
  #hero .container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  #hero .hero-logo {
    width: 250px;
  }
  #hero h1 {
    font-size: 34px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

.block {
  width: 94%;
  height: 50px;
  display: block !important;
  font-family: 'Raleway', sans-serif;
}
.blink {
  animation: blink 0.5s infinite;
  font-weight: bold !important;
  color: white !important;
}
@keyframes blink{
  to { 
    opacity: 0; 
  }
}

.header-sub-title {
  color: white;
  padding: 0px 1px 4px 1px;
  border-bottom: 3px solid #1577BD;
  font-size: 20px;
  text-align: center;
}

.book-demo-btn {
  transform: rotate(270deg);
  position: fixed;
  top: 45%;
  right: -90px;
  z-index: 100;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 10px;
  border: none;
  padding: 10px 20px 15px 20px;
  background-color: #1577bd;
  color: white;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #106aaa;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  visibility: hidden;
  opacity: 0;
}

.book-demo-btn:hover {
  box-shadow: inset 0 0 0 50px #106aaa;
}

.book-demo-btn:focus {
  outline: none;
}

.book-demo-btn.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #3a4be0;
  bottom: 0;
  left: calc(50% - 25px);
}
.section-title p {
  margin-bottom: 0;
}

.section-bg {
  padding: 120px 0;
  color: #fff;
}
.section-bg:before {
  content: "";
  background: #1F305D;
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .container {
  position: relative;
  z-index: 10;
}
.about .content {
  padding: 30px 30px 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about .content h2 {
  font-family: Arial, Helvetica, sans-serif;
}
.about .content .section-title img {
  width: 255px;
  position: relative;
  bottom: 4px;
}
@media screen and (max-width: 576px) {
  .about .content .section-title img {
    width: 160px;
    bottom: 3px;
  }
}
.about .content .section-title h2 span {
  position: relative;
  bottom: 2px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.about .content .about-btn {
  padding: 8px 30px 9px 30px;
  color: rgb(36, 36, 36);
  background-color: white;
  border-radius: 50px;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  border: 2px solid #ffffff;
}
.about .content .about-btn i {
  font-size: 20px;
  padding-left: 5px;
}
.about .content .about-btn:hover {
  background: #2e6bbb;
  color: white;
  border: 2px solid #2e6bbb;
}
.about .icon-boxes .icon-box {
  margin-top: 30px;
}
.about .icon-boxes .icon-box i {
  font-size: 40px;
  color: #b9b9b9;
  margin-bottom: 20px;
}
.about .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}
.about .icon-boxes .icon-box p {
  font-size: 15px;
  color: #c2c2c2;
}
@media (max-width: 1200px) {
  .about .content {
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .about {
    text-align: center;
  }
}

.about-logo {
  width: 270px;
  animation: infinite 4s rotation linear;
}

@keyframes rotation {
  100% { 
    transform:rotatey(360deg); 
  }
}


/*--------------------------------------------------------------
# Video
--------------------------------------------------------------*/

.video .screens {
  display: flex;
  align-items: center;
  justify-content: center;
}
.video .mobile {
  transform: rotate(90deg);
  width: 180px;
  margin-left: 80px;
  margin-bottom: -140px;
  position: relative;
  z-index: 10;
}
.video .laptop {
  width: 650px;
  margin-left: -20px;
  position: relative;
  z-index: 0;
}
.video .tablet {
  width: 330px;
  margin-left: -100px;
  margin-top: 80px;
  position: relative;
  z-index: 1;
}

.video .videos {

}
.video .videos iframe {
  position: absolute;
}
.video1 {
  left: 20px;
  top: 48.2%;
  z-index: 10;
  border-radius: 10px;
  width: 330px; 
  height: 152px;
}
.video2 {
  left: 30.5%;
  top: 5.6%;
  width: 452px; 
  height: 285px;
}
.video3 {
  right: 28px;
  top: 35%;
  width: 295px; 
  height: 190px;
  z-index: 3;
}

.video1-thumb {
  position: absolute;
  left: 20px;
  top: 48.2%;
  z-index: 10;
  width: 330px; 
  height: 154px;
}
.video2-thumb {
  position: absolute;
  left: 30.5%;
  top: 5.6%;
  z-index: 4;
  width: 452px; 
  height: 285px;
}
.video3-thumb {
  position: absolute;
  right: 28px;
  top: 35%;
  z-index: 5;
  width: 295px; 
  height: 190px;
}

@media screen and (min-width: 1400px) {
  .video1 {
    left: 110px;
    top: 48.2%;
  }
  .video2 {
    left: 33.15%;
    top: 5.6%;
  }
  .video3 {
    right: 118px;
    top: 35%;
  }

  .video1-thumb {
    left: 110px;
    top: 48.2%;
  }
  .video2-thumb {
    left: 33.15%;
    top: 5.6%;
  }
  .video3-thumb {
    right: 118px;
    top: 35%;
  }
}

@media screen and (max-width: 1200px) {
  .video .screens {
    flex-direction: column;
  }
  .video .mobile {
    width: 200px;
    margin-left: 0px;
    margin-top: -90px;
    margin-bottom: -40px;
  }
  .video .laptop {
    width: 670px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .video .tablet {
    width: 400px;
    margin-left: 0px;
    margin-top: 0px;
  }

  .video1 {
    left: 31.5%;
    top: 2.4%;
    border-radius: 10px;
    width: 367px; 
    height: 171px;
  }
  .video2 {
    left: 25.6%;
    top: 30%;
    width: 467px; 
    height: 300px;
  }
  .video3 {
    right: 31.4%;
    top: 74%;
    width: 357px; 
    height: 227px;
  }

  .video1-thumb {
    left: 31.5%;
    top: 2.4%;
    width: 369px; 
    height: 171px;
  }
  .video2-thumb {
    left: 25.6%;
    top: 30%;
    width: 467px; 
    height: 300px;
  }
  .video3-thumb {
    right: 31.4%;
    top: 74%;
    width: 357px; 
    height: 227px;
  }
}

@media screen and (max-width: 991px) {
  .video1 {
    left: 25.3%;
  }
  .video2 {
    left: 17.4%;
  }
  .video3 {
    right: 25.2%;
  }

  .video1-thumb {
    left: 25.3%;
  }
  .video2-thumb {
    left: 17.4%;
  }
  .video3-thumb {
    right: 25.2%;
  }
}

@media screen and (max-width: 767px) {
  .video1 {
    left: 17%;
  }
  .video2 {
    left: 6.7%;
  }
  .video3 {
    right: 17%;
  }

  .video1-thumb {
    left: 17%;
  }
  .video2-thumb {
    left: 6.7%;
  }
  .video3-thumb {
    right: 17%;
  }
}

@media screen and (max-width: 675px) {
  .video .mobile {
    width: 150px;
  }
  .video .laptop {
    width: 400px;
    margin-bottom: 20px;
  }
  .video .tablet {
    width: 320px;
  }

  .video .videos {
    flex-direction: column;
  }

  .video1 {
    top: 9.3%; left: 51%;
    transform: translate(-50%,-50%);
    z-index: 12;
    width: 280px; 
    height: 131px;
  }
  .video2 {
    top: 42%; left: 50%;
    transform: translate(-50%,-50%);
    width: 280px; 
    height: 180px;
  }
  .video3 {
    top: 83%; left: 50%;
    transform: translate(-50%,-50%);
    width: 286px; 
    height: 180px;
  }

  .video1-thumb {
    top: 9.3%; left: 51%;
    transform: translate(-50%,-50%);
    z-index: 12;
    width: 276px; 
    height: 131px;
  }
  .video2-thumb {
    top: 42%; left: 50%;
    transform: translate(-50%,-50%);
    width: 279px; 
    height: 180px;
  }
  .video3-thumb {
    top: 83%; left: 50%;
    transform: translate(-50%,-50%);
    width: 287px; 
    height: 182px;
  }
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services {
  z-index: 1;
}
.services .services-carousel, .services .services-slider {
  overflow: hidden;
}
.services .services-item {
  box-sizing: content-box;
  padding: 10px;
  margin: 0px 15px 30px 15px;
  position: relative;
  background: #fff;
  border-radius: 8px;
  cursor: grab;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.services .services-item .services-img {
  max-width: 300px;
  border-radius: 10px;
  border: 6px solid #fff;
}
.services .services-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0 5px 0;
  text-align: center;
  min-height: 30px;
}
.services .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.services .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
}
.services .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #3a4be0;
}

@media screen and (max-width: 1199px) {
  .services .services-item .services-img {
    max-width: 260px;
  }
}


/*--------------------------------------------------------------
# Waterfall Slider
--------------------------------------------------------------*/

.waterfall2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

.waterfall2 .slide-test {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.waterfall2 .test-slider-info {
  width: 25%;
  height: 100%;
  padding: 0 20px 0 30px;
  background-color: rgb(20, 26, 41);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  z-index: 1;
}

.waterfall2 .test-slider-info h2 {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  color: white;
  background: linear-gradient(to left top, rgb(27, 141, 194), rgb(41, 165, 223), rgb(211, 222, 252));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 20px;
  transform: translateY(-80px);
  transition: 1s ease;
}

.waterfall2 .test-slider-info h2:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: rgb(218, 218, 218);
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.slide-test:hover h2:before {
  visibility: visible;
  width: 100%;
}

.waterfall2 .test-slider-info p {
  color: rgb(214, 214, 214);
  font-size: 20px;
  margin-top: 10px;
  transform: translateY(-80px);
  transition: 1s ease;
}

.waterfall2 .test-slider-info p i {
  color:rgb(25, 130, 216);
}

.slide-test:hover .test-slider-info p {
  transform: translateY(0px);
}
.slide-test:hover .test-slider-info h2 {
  transform: translateY(0px);
}


.waterfall2 .slide-test:nth-child(1) {
  background-color: rgb(146, 201, 252);
}
.waterfall2 .slide-test:nth-child(2) {
  background-color:rgb(204, 255, 255);
}
.waterfall2 .slide-test:nth-child(3) {
  background-color: rgb(43, 129, 199);
}
.waterfall2 .slide-test:nth-child(4) {
  background-color: rgb(148, 176, 236);
}

.waterfall2 .test-slider-img {
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 10%;
}

.slide1-test-phone {
  position: relative;
  width: 180px;
  transition: 1s ease;
  margin: 5px 10px;
}
.slide1-test-phone1 {
  top: -150px;
}
.animate-slide1-test-phone1 {
  top: -100px;
}
.slide1-test-phone2 {
  top: -260px;
}
.animate-slide1-test-phone2 {
  top: -310px;
}
.slide1-test-phone3 {
  top: -100px;
}
.animate-slide1-test-phone3 {
  top: -50px;
}
.slide1-test-phone4 {
  top: -140px;
  margin-left: -40px;
}
.animate-slide1-test-phone4 {
  top: -90px;
}
.slide1-test-phone5 {
  top: -260px;
  left: 12.5px;
}
.animate-slide1-test-phone5 {
  top: -310px;
}
.slide1-test-phone6 {
  top: -90px;
}
.animate-slide1-test-phone6 {
  top: -40px;
}
.slide1-test-phone7 {
  top: -260px;
  left: -25px;
}
.animate-slide1-test-phone7 {
  top: -310px;
}


.slide2-test-phone {
  position: relative;
  bottom: 0;
  margin-bottom: -50px;
  transition: 1s ease;
  width: 350px;
}
.slide2-test-phone1 {
  bottom: -120px;
}
.slide2-test-phone2 {
  bottom: -120px;
}
.animate-slide2-test-phone {
  bottom: -80px;
}

.slide3-test-phone {
  transform: rotate(40deg);
  position: relative;
  transition: 1s ease;
  width: 200px;
}
.slide3-test-phone1 {
  top: 90px;
  left: -30px;
}
.animate-slide3-test-phone1 {
  top: 20px;
  left: 30px;
}
.slide3-test-phone2 {
  top: -250px;
  left: 340px;
}
.animate-slide3-test-phone2 {
  top: -200px;
  left: 300px;
}
.slide3-test-phone3 {
  top: 270px;
  left: -10px;
}
.animate-slide3-test-phone3 {
  top: 200px;
  left: 50px;
}
.slide3-test-phone4 {
  top: -320px;
  left: 180px;
}
.animate-slide3-test-phone4 {
  top: -270px;
  left: 140px;
}
.slide3-test-phone5 {
  top: 92px;
  left: -361px;
}
.animate-slide3-test-phone5 {
  top: 42px;
  left: -316px;
}


.slide4-test-swiper {
  position: relative;
  height: 100%;
  top: 60px;
  left: 13px;
}
.slide4 .test-slider-img .swiper-slide {
  background-color: transparent;
}
.slide4-test-swiper img {
  width: 189px;
  height: 406px;
}
.slide4-test-phone-frame {
  position: absolute;
  width: 220px;
  z-index: 2;
}


/*--------------------------------------------------------------
# Waterfall Slider Mobile
--------------------------------------------------------------*/

.waterfall-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 0;
  display: none;
}

.slide-mobile {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.waterfall-mobile .mobile-swiper-info {
  width: 100%;
  height: 50%;
  padding: 0 20px 0 30px;
  background-color: rgb(20, 26, 41);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  z-index: 1;
}

.waterfall-mobile .mobile-swiper-info h2 {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  color: white;
  background: linear-gradient(to left top, rgb(27, 141, 194), rgb(41, 165, 223), rgb(211, 222, 252));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 20px;
  transform: translateX(0px);
}

.waterfall-mobile .mobile-swiper-info h2:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: rgb(218, 218, 218);
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.slide-mobile:hover h2:before {
  visibility: visible;
  width: 100%;
}

.waterfall-mobile .mobile-swiper-info p {
  color: rgb(214, 214, 214);
  font-size: 20px;
  margin-top: 10px;
  transform: translateX(0px);
}

.waterfall-mobile .mobile-swiper-info p i {
  color:rgb(25, 130, 216);
}


.waterfall-mobile .slide-mobile:nth-child(1) {
  background-color: rgb(146, 201, 252);
}
.waterfall-mobile .slide-mobile:nth-child(2) {
  background-color:rgb(204, 255, 255);
}
.waterfall-mobile .slide-mobile:nth-child(3) {
  background-color: rgb(43, 129, 199);
}
.waterfall-mobile .slide-mobile:nth-child(4) {
  background-color: rgb(148, 176, 236);
}

.waterfall-mobile .mobile-slider-img {
  max-width: 600px;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}

.slide1-mobile-phone {
  position: relative;
  width: 150px;
  transition: 1s ease;
}
.slide1-mobile-phone1 {
  margin-top: -250px;
  top: 0px;
}
.animate1-slide1-mobile-phone1 {
  margin-top: 0px;
  top: 50px;
}
.slide1-mobile-phone2 {
  top: -100px;
}
.animate1-slide1-mobile-phone2 {
  top: -80px;
}
.slide1-mobile-phone3 {
  top: -140px;
}
.animate1-slide1-mobile-phone3 {
  top: -120px;
}
.slide1-mobile-phone4 {
  margin-bottom: -550px;
}
.animate1-slide1-mobile-phone4 {
  margin-bottom: -125px;
}
.slide1-mobile-phone5 {
  top: -60px;
}
.animate1-slide1-mobile-phone5 {
  top: -80px;
}
.slide1-mobile-phone6 {
  top: -100px;
}
.animate1-slide1-mobile-phone6 {
  top: -120px;
}
.slide1-mobile-phone7 {
  display: none;
}


.slide2-mobile-phone {
  position: relative;
  bottom: 0;
  margin-bottom: -50px;
  transition: 1s ease;
  width: 300px;
}
.slide2-mobile-phone1 {
  bottom: -40px;
}
.slide2-mobile-phone2 {
  bottom: -40px;
}
.animate1-slide2-mobile-phone {
  bottom: 0px;
}

.slide3-mobile-phone {
  transform: rotate(40deg);
  position: relative;
  transition: 1s ease;
  width: 150px;
}
.slide3-mobile-phone1 {
  top: 420px;
  left: -8px;
}
.animate1-slide3-mobile-phone1 {
  top: 360px;
  left: 45px;
}
.slide3-mobile-phone2 {
  top: -90px;
  right: -48px;
}
.animate1-slide3-mobile-phone2 {
  top: -30px;
  right: 0px;
}
.slide3-mobile-phone3 {
  top: 60px;
  right: 10px;
}
.animate1-slide3-mobile-phone3 {
  top: 120px;
  right: 60px;
}
.slide3-mobile-phone4 {
  top: 330px;
  right: 168px;
}
.animate1-slide3-mobile-phone4 {
  top: 270px;
  right: 120px;
}
.slide3-mobile-phone5 {
  top: -460px;
  left: 258px;
}
.animate1-slide3-mobile-phone5 {
  top: -400px;
  left: 210px;
}


.slide4-mobile-swiper {
  position: relative;
  height: 100%;
  top: -5px;
  left: -3px;
}
.slide4 .mobile-slider-img .swiper-slide {
  background-color: transparent;
}
.slide4-mobile-swiper img {
  width: 189px;
  height: 405px;
}
.slide4-mobile-phone-frame {
  position: absolute;
  width: 220px;
  z-index: 2;
}


@media screen and (max-width: 620px) {
  .waterfall-mobile .mobile-swiper-info h2 {
    font-weight: 900;
    font-size: 30px;
  }
  .waterfall-mobile .mobile-swiper-info p {
    color: rgb(214, 214, 214);
    font-size: 16px;
    margin-top: 10px;
  }

  .waterfall-mobile .mobile-slider-img {
    max-width: 350px;
    max-height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .slide1-mobile-phone {
    width: 80px;
  }
  .slide1-mobile-phone1 {
    margin-top: -200px;
    top: 0px;
  }
  .slide1-mobile-phone2 {
    top: -80px;
  }
  .slide1-mobile-phone3 {
    top: -100px;
  }
  .slide1-mobile-phone4 {
    margin-bottom: -300px;
  }
  .slide1-mobile-phone5 {
    top: -40px;
  }
  .slide1-mobile-phone6 {
    top: -60px;
  }
  .slide1-mobile-phone7 {
    display: none;
  }
  
  .slide2-mobile-phone {
    width: 150px;
  }

  .slide3-mobile-phone {
    width: 80px;
  }
  .slide3-mobile-phone1 {
    top: -40px;
    left: 70px;
  }
  .slide3-mobile-phone2 {
    top: 0px;
    right: -68px;
  }
  .slide3-mobile-phone3 {
    top: 125px;
    right: -5px;
  }
  .slide3-mobile-phone4 {
    top: -120px;
    right: -8px;
  }
  .slide3-mobile-phone5 {
    top: 30px;
    left: -115px;
  }

  .slide4-mobile-swiper {
    position: relative;
    height: 100%;
    top: -5px;
    left: -1px;
    min-width: 500px;
  }
  .slide4 .mobile-slider-img .swiper-slide {
    background-color: transparent;
  }
  .slide4-mobile-swiper img {
    width: 150px;
    height: 312px;
  }
  .slide4-mobile-phone-frame {
    position: absolute;
    width: 170px;
    z-index: 2;
  }
}

.animate2-slide1-mobile-phone1 {
  margin-top: 0px;
  top: 20px;
}
.animate2-slide1-mobile-phone2 {
  top: -60px;
}
.animate2-slide1-mobile-phone3 {
  top: -80px;
}
.animate2-slide1-mobile-phone4 {
  margin-bottom: -50px;
}
.animate2-slide1-mobile-phone6 {
  top: -80px;
}
.animate2-slide1-mobile-phone5 {
  top: -60px;
}

.animate2-slide3-mobile-phone1 {
  top: 0px;
  left: 40px;
}
.animate2-slide3-mobile-phone2 {
  top: 40px;
  right: -38px;
}
.animate2-slide3-mobile-phone3 {
  top: 85px;
  right: -35px;
}
.animate2-slide3-mobile-phone4 {
  top: -80px;
  right: 18px;
}
.animate2-slide3-mobile-phone5 {
  top: 20px;
  left: -105px;
}



.swiper-pagination2{position:absolute;text-align:center;transition:.3s opacity;transform:translate3d(0,0,0);z-index:10}.swiper-pagination2.swiper-pagination2-hidden{opacity:0}.swiper-horizontal>.swiper-pagination2-bullets,.swiper-pagination2-bullets.swiper-pagination2-horizontal,.swiper-pagination2-custom,.swiper-pagination2-fraction{bottom:10px;left:0;width:100%}.swiper-pagination2-bullets-dynamic{overflow:hidden;font-size:0}.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet{transform:scale(.33);position:relative}.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet-active{transform:scale(1)}.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet-active-main{transform:scale(1)}.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet-active-prev{transform:scale(.66)}.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet-active-prev-prev{transform:scale(.33)}.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet-active-next{transform:scale(.66)}.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet-active-next-next{transform:scale(.33)}.swiper-pagination2-bullet{width:var(--swiper-pagination2-bullet-width,var(--swiper-pagination2-bullet-size,8px));height:var(--swiper-pagination2-bullet-height,var(--swiper-pagination2-bullet-size,8px));display:inline-block;border-radius:50%;background:var(--swiper-pagination2-bullet-inactive-color,#000);opacity:var(--swiper-pagination2-bullet-inactive-opacity, .2)}button.swiper-pagination2-bullet{border:none;margin:0;padding:0;box-shadow:none;-webkit-appearance:none;appearance:none}.swiper-pagination2-clickable .swiper-pagination2-bullet{cursor:pointer}.swiper-pagination2-bullet:only-child{display:none!important}.swiper-pagination2-bullet-active{opacity:var(--swiper-pagination2-bullet-opacity, 1);background:var(--swiper-pagination2-color,var(--swiper-theme-color))}.swiper-pagination2-vertical.swiper-pagination2-bullets,.swiper-vertical>.swiper-pagination2-bullets{right:10px;top:50%;transform:translate3d(0px,-50%,0)}.swiper-pagination2-vertical.swiper-pagination2-bullets .swiper-pagination2-bullet,.swiper-vertical>.swiper-pagination2-bullets .swiper-pagination2-bullet{margin:var(--swiper-pagination2-bullet-vertical-gap,6px) 0;display:block}.swiper-pagination2-vertical.swiper-pagination2-bullets.swiper-pagination2-bullets-dynamic,.swiper-vertical>.swiper-pagination2-bullets.swiper-pagination2-bullets-dynamic{top:50%;transform:translateY(-50%);width:8px}.swiper-pagination2-vertical.swiper-pagination2-bullets.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet,.swiper-vertical>.swiper-pagination2-bullets.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet{display:inline-block;transition:.2s transform,.2s top}.swiper-horizontal>.swiper-pagination2-bullets .swiper-pagination2-bullet,.swiper-pagination2-horizontal.swiper-pagination2-bullets .swiper-pagination2-bullet{margin:0 var(--swiper-pagination2-bullet-horizontal-gap,4px)}.swiper-horizontal>.swiper-pagination2-bullets.swiper-pagination2-bullets-dynamic,.swiper-pagination2-horizontal.swiper-pagination2-bullets.swiper-pagination2-bullets-dynamic{left:50%;transform:translateX(-50%);white-space:nowrap}.swiper-horizontal>.swiper-pagination2-bullets.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet,.swiper-pagination2-horizontal.swiper-pagination2-bullets.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet{transition:.2s transform,.2s left}.swiper-horizontal.swiper-rtl>.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet{transition:.2s transform,.2s right}.swiper-pagination2-progressbar{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination2-progressbar .swiper-pagination2-progressbar-fill{background:var(--swiper-pagination2-color,var(--swiper-theme-color));position:absolute;left:0;top:0;width:100%;height:100%;transform:scale(0);transform-origin:left top}.swiper-rtl .swiper-pagination2-progressbar .swiper-pagination2-progressbar-fill{transform-origin:right top}.swiper-horizontal>.swiper-pagination2-progressbar,.swiper-pagination2-progressbar.swiper-pagination2-horizontal,.swiper-pagination2-progressbar.swiper-pagination2-vertical.swiper-pagination2-progressbar-opposite,.swiper-vertical>.swiper-pagination2-progressbar.swiper-pagination2-progressbar-opposite{width:100%;height:4px;left:0;top:0}.swiper-horizontal>.swiper-pagination2-progressbar.swiper-pagination2-progressbar-opposite,.swiper-pagination2-progressbar.swiper-pagination2-horizontal.swiper-pagination2-progressbar-opposite,.swiper-pagination2-progressbar.swiper-pagination2-vertical,.swiper-vertical>.swiper-pagination2-progressbar{width:4px;height:100%;left:0;top:0}.swiper-pagination2-lock{display:none}



@media screen and (max-width: 1200px) {
  .waterfall2 {
    display: none !important;
  }
  .waterfall-mobile {
    display: block !important;
  }
} 

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/

.features {
  background-color: #141A29;
}
.features .section-title h2 {
  color: white;
}

.features-img {
  width: 100%;
  height: 100%;
  margin-top: -30px;
}

@media screen and (max-width: 900px) {
  .features-img {
    width: 120%;
    margin-left: -10%;
  }
}

.features-img-mobile {
  width: 90%;
  margin-left: 4%;
}

/*--------------------------------------------------------------
# Blogs
--------------------------------------------------------------*/


.blogs .row .col-lg-3 .blog-img {
  height: 200px; 
  background-image: url(https://images.pexels.com/photos/310983/pexels-photo-310983.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500); 
  background-size: cover; 
  background-position: center;
  transition: 1s ease;
}
.blogs .row .col-lg-3 .blog-date {
  top:10px; 
  right:10px; 
  width: 70px; 
  height: 70px; 
  background-color: #116cd3;
}
.blogs .row .col-lg-3 .blog-read-more {
  bottom:10px; 
  left: 10px; 
  background-color: #116cd3;
}
.blogs .row .col-lg-3 .blog-heading {
  font-weight: 600; 
  font-size: 1.1rem; 
  margin-bottom: 0;
}
.blogs .row .col-lg-3 .blog-read-time {
  color: #116cd3; 
  margin-left: 5px; 
  margin-bottom: 3px; 
  font-family: Arial, Helvetica, sans-serif;
}

.blogs .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.button--dione {
	background: none;
	font-family: obvia, sans-serif;
	font-weight: 500;
	padding: 1.5rem 3rem;
}
.button--dione span {
	display: inline-block;
	position: relative;
	color: #fff;
}
.button--dione::before {
	content: '';
	background: #116cd3;
	transition: transform 0.3s cubic-bezier(0.2,1,0.7,1);
}
.button--dione:hover::before {
	transform: scale3d(0.9, 0.8, 1);
}
.button--dione::after {
	content: '';
	border: 1px solid #116cd3;
	transition: transform 0.3s cubic-bezier(0.2,1,0.7,1);
	border-radius: 0px;
	transform: scale3d(0.85, 0.65, 1);
}
.button--dione:hover::after {
	transform: scale3d(1,1,1);
}


/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/

.u-form input {
  transition: 0.3s;
}
.u-form input:focus {
  outline: none;
  border-radius: 5px;
}

.phone .u-icon i{
  transition: 0.5s ease;
}
.phone:hover .u-icon i{
  color: rgb(98, 124, 240);
  transition: 0.5s ease;
}

.u-svg-link {
  transition: 0.5s ease;
  transform: scale(1.2);
}
.u-svg-link:hover {
  transform: scale(1.1);
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#contact {
  color: #fff;
  font-size: 14px;
  background: #1F305D;
  font-family: 'Raleway', sans-serif;
}
#contact .footer-top {
  padding: 60px 0 30px 0;
  background: #1F305D;
}
#contact .info-box .bx {
  font-size: 30px;
}
#contact h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0;
}
#contact .info-box p {
  font-size: 17px;
}
#contact .container .address-map {
  border: 0;
  width: 45%;
  margin-top: -30px;
}
@media screen and (max-width: 992px) {
  #contact .container .address {
    width: 100%;
  }
  #contact .container .address-map {
    padding: 0 5%;
    width: 100%;
    height: 300px;
    margin-top: 0px;
  }
}
#contact .info-box a {
  color: white;
  transition: 0.3s ease;
}
#contact .info-box a:hover {
  color: rgb(190, 190, 190);
}

#contact .form-group {
  margin: 30px 0;
}
#contact .form-group .form-control {
  padding: 14px;
  border-radius: 0;
  transition: 0.3s ease;
  box-shadow: none;
}
#contact .form-group .form-control:focus {
  border-radius: 5px;
}
.button-submit {
  font-size: 18px;
  letter-spacing: 1px;
  border: 2px solid #0f66b8;
  padding: 12px 24px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #ffffff;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.button-submit:hover {
  box-shadow: inset 0 0 0 50px #ffffff;
  color: #111;
  font-weight: bold;
}

.button-submit:focus {
  outline: none;
}


#contact .footer-top .container2 {
  margin-bottom: 30px;
}
.footer-links .useful-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#contact .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 50%;
}
#contact .footer-top .footer-links ul i {
  padding-right: 2px;
  color: white;
  font-size: 24px;
  line-height: 1;
}
#contact .footer-top .footer-links ul li {
  margin: 20px 0;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
}
#contact .footer-top .footer-links ul li:hover {
  transform: translateX(5px);
}
#contact .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#contact .footer-top .footer-links ul a {
  color: #ffffff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-transform: uppercase;
  font-size: 16px;;
}
#contact .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: rgb(25, 130, 216);
}

#contact .footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact .footer-icons a{
  color: white;
}
#contact .footer-icon {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  margin: 0 12px 0 0;
  transition: 0.5s ease;
}
#contact .footer-icon:hover {
  transform: scale(0.9);
}
#contact .footer-icon i {
  font-size: 23px;
  margin-top: 10px;
  margin-left: 8px;
}
#contact .fa-facebook-f {
  margin-left: 13px !important;
}
#contact .fa-twitter {
  margin-left: 10px !important;
}
#contact .fa-linkedin-in {
  margin-left: 11px !important;
}

#contact .footer-downloads {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#contact .footer-downloads img {
  max-width: 200px;
  margin: 10px;
  transition: 0.3s ease;
}
#contact .footer-downloads img:hover {
  transform: scale(1.03);
}

#contact .d-md-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact .d-md-flex .copyright {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: center;
}


@media screen and (max-width: 992px) {
  #contact .info-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #contact .info-box p {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .container2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer-links .useful-links {
    width: 70%;
  }

}
