
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #e03a3c;
  text-decoration: none;
}

a:hover {
  color: #e76668;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ED1B26;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #c5111a;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: rgba(243, 247, 255, 0);
  transition: all 0.5s;
  z-index: 997;
  padding: 10px 0;
}
#header.header-scrolled {
  padding: 0px 0;
  background: rgba(13, 30, 65, 0.425);
  box-shadow: 0px 2px 15px rgba(82, 82, 82, 0.281);
}
#header .logo img {
  max-height: 60px;
  margin-top: -3px;
  margin-right: 10px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #111111;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.514);
  text-transform: uppercase;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 7px 10px;
  margin: 10px 10px;
  position: relative;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(201, 38, 38);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar a:hover:after { 
  width: 100%; 
  left: 0; 
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
.download ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0 20px 0 0 !important;
}
.download ul li a img {
  width: 40px;
  margin: 0 10px;
  -webkit-filter: brightness(100%);
  transition: all 0.5s ease;
}

.download ul li a img:hover {
  -webkit-filter: brightness(70%);
  
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  background-color: #ffffffb0;
  padding: 5px 8px;
  color: #2b2b2b;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
  background-color: rgb(185, 41, 41);
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #111111;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #e03a3c;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #e03a3c;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../images/hero-bg.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.253);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  z-index: 1;
}
#hero h1 {
  text-align: center;
  margin: 0;
  font-size: 52px;
  color: #fff;
}
#hero h3 {
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 40px;
  color: rgb(233, 233, 233);
  padding-bottom: 5px;
  position: relative;
}
#hero h3 span {
  color: rgb(190, 30, 30);
}
#hero h3:before{
  content: "";
  position: absolute;
  width: 59%;
  height: 1px;
  bottom: 0;
  left: 20%;
  border-bottom: 4px solid rgb(190, 30, 30);
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #e03a3c;
  border: 2px solid #e03a3c;
}
#hero .btn-get-started:hover {
  background: transparent;
  border-color: #fff;
}
@media (max-width: 768px) {
  #hero {
    text-align: center;
    padding-top: 58px;
  }
  #hero .container {
    width: 90%;
  }
  #hero h1 {
    font-size: 34px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

.hero-phone1 {
  width: 200px; 
  position: absolute; 
  top: -30%; 
  left: 20%;
  z-index: 0;
}

.hero-phone2 {
  width: 200px; 
  position: absolute; 
  bottom: -30%; 
  right: 20%;
  z-index: 0;
  filter:blur(80%);
}

@media screen and (max-width: 900px) {
  .hero-phone1 {
    left: 10%
  }
  
  .hero-phone2 {
    right: 10%
  }
}

.block {
  width: 94%;
  display: block !important;
}
.blink {
  animation: blink 0.5s infinite;
  font-weight: bold !important;
  color: rgb(255, 255, 255) !important;
}
@keyframes blink{
  to { 
    opacity: 0; 
  }
}

.header-sub-title {
  color: rgb(226, 226, 226);
  font-size: 20px;
  padding: 0.1em;
  text-align: center;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #3a4be0;
  bottom: 0;
  left: calc(50% - 25px);
}
.section-title p {
  margin-bottom: 0;
}

.section-bg {
  padding: 120px 0;
  color: #fff;
}
.section-bg:before {
  content: "";
  background: #1F305D;
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .container {
  position: relative;
  z-index: 10;
}
.about .content {
  padding: 30px 30px 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about .content .about-btn {
  padding: 8px 30px 9px 30px;
  color: rgb(36, 36, 36);
  background-color: white;
  border-radius: 50px;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  border: 2px solid #ffffff;
}
.about .content .about-btn i {
  font-size: 16px;
  padding-left: 5px;
}
.about .content .about-btn:hover {
  background: #2e6bbb;
  color: white;
  border: 2px solid #2e6bbb;
}
.about .icon-boxes .icon-box {
  margin-top: 30px;
}
.about .icon-boxes .icon-box i {
  font-size: 40px;
  color: #2e6bbb;
  margin-bottom: 20px;
}
.about .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}
.about .icon-boxes .icon-box p {
  font-size: 15px;
  color: #a7a7a7;
}
@media (max-width: 1200px) {
  .about .content {
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .about {
    text-align: center;
  }
}

.about-logo {
  width: 270px;
  animation: infinite 4s rotation linear;
}

@keyframes rotation {
  100% { 
    transform:rotatey(360deg); 
  }
}


/*--------------------------------------------------------------
# Video
--------------------------------------------------------------*/

.video .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.video .video-frame {
  position: relative;
}
.video iframe {
  position: absolute;
  top: 22%;
}
@media screen and (max-width: 1000px) {
  .video .video-frame {
    width: 800px;
  }
  .video iframe {
    width: 557px;
    height: 352px;
    top: 26%;
  }
}
@media screen and (max-width: 800px) {
  .video .video-frame {
    width: 600px;
  }
  .video iframe {
    width: 418px;
    height: 264px;
    top: 31%;
  }
}

@media screen and (max-width: 600px) {
  .video .video-frame {
    width: 400px;
  }
  .video iframe {
    width: 280px;
    height: 180px;
    top: 36%;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

#services {
  z-index: 1;
}
.services .services-carousel, .services .services-slider {
  overflow: hidden;
}
.services .services-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 0px 15px 30px 15px;
  position: relative;
  background: #fff;
  border-radius: 8px;
  cursor: grab;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.services .services-item .services-img {
  max-width: 260px;
  border-radius: 10px;
  border: 6px solid #fff;
}
.services .services-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 25px 0 5px 0;
  text-align: center;
  min-height: 80px;
}
.services .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.services .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
}
.services .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #3a4be0;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/

#features {
  margin-top: -160px;
}
.carousel-item {
  padding-top: 140px;
  background-color: #d9edff;
}
.sentences {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color:#3b3b3b;
  font-weight: bold;
}
.sentences .column-1 {
  width: 35%;
  position: relative;
  left: 13%;
  bottom: -90px;
}
.sentences .column-1 div {
  margin: 35px 0;
}
.sentences img {
  width: 350px;
  margin-bottom: -60px;
}
.sentences .column-2 {
  width: 40%;
  position: relative;
  left: -4%;
  bottom: -90px;
}
.sentences .column-2 div {
  margin: 35px 0;
}
.dash {
  font-size: 25px;
  letter-spacing: -3px;
  font-weight: 900;
  color: rgb(78, 78, 78);
}
.carousel-control-next, .carousel-control-prev {
  width: 100px;
}
@media screen and (max-width: 1300px) {
  .remove1 {
    display: none;
  }
  .sentences .column-2 {
    left: -5% !important;
  }
}
@media screen and (max-width: 1225px) {
  .remove2 {
    display: none;
  }
}
@media screen and (max-width: 1150px) {
  .remove3 {
    display: none;
  }
  .absolute-sentences .column-2 {
    left:-5%
  }
}
@media screen and (max-width: 1100px) {
  .column-1 {
    display: none;
  }
  .column-2 {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .sentences img {
    width: 250px;
  }
}

/*--------------------------------------------------------------
# Waterfall Slider
--------------------------------------------------------------*/

.waterfall {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
}

.water-fixed {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100vh;
}

.waterfall .swiper-container {
  width: 100%;
  height: 100%;
}
.waterfall .swiper-slide {
  overflow: hidden;
}
.waterfall .swiper-info {
  width: 25%;
  height: 100%;
  padding: 0 20px 0 30px;
  background-color: rgb(39, 39, 39);
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}
.waterfall .swiper-info h2 {
  position: relative;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: white;
  padding-bottom: 20px;
  background: linear-gradient(rgb(34, 62, 189) 0 0) 0 100% /var(--d, 0) 4px no-repeat;
  transition: 1s;
}

.swiper-slide:hover h2{
  --d: 85%;
}

.waterfall .swiper-info p {
  color: rgb(214, 214, 214);
  margin-top: 10px;
}

.waterfall .swiper-img {
  width: 100%;
  height: 100%;
}
.waterfall .swiper-slide:nth-child(1) {
  background-color: rgb(146, 201, 252);
}
.waterfall .swiper-slide:nth-child(2) {
  background-color:rgb(204, 255, 255);
}
.waterfall .swiper-slide:nth-child(3) {
  background-color: rgb(43, 129, 199);
}
.waterfall .swiper-slide:nth-child(4) {
  background-color: rgb(148, 176, 236);
}
.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-vertical, .swiper-vertical > .swiper-pagination-progressbar {
  position: absolute;
  height: 50%;
  top: 25%;
  left: 95%;
}


.slide1-phone {
  position: absolute;
  width: 16%;
  transition: 1s ease;
}
.slide1-phone1 {
  top: -30%;
  left: 34%;
}
.slide1:hover .slide1-phone1 {
  top: -20%;
}
.slide1-phone2 {
  top: 40%;
  left: 32%;
}
.slide1:hover .slide1-phone2 {
  top: 50%;
}
.slide1-phone3 {
  top: -47%;
  left: 56%;
}
.slide1:hover .slide1-phone3 {
  top: -57%;
}
.slide1-phone4 {
  top: 23%;
  left: 54%;
}
.slide1:hover .slide1-phone4 {
  top: 13%;
}
.slide1-phone5 {
  top: 93%;
  left: 52%;
}
.slide1:hover .slide1-phone5 {
  top: 83%;
}
.slide1-phone6 {
  top: -10%;
  right: 8%;
}
.slide1:hover .slide1-phone6 {
  top: 0%;
}
.slide1-phone7 {
  top: 60%; 
  right: 10%;
}
.slide1:hover .slide1-phone7 {
  top: 70%; 
}


.slide2-phone {
  position: absolute;
  bottom: 0;
  margin-bottom: -50px;
  transition: 1s ease;
}
.slide2-phone1 {
  right: 37%;
}
.slide2-phone2 {
  right: 9%;
}
.slide2:hover .slide2-phone {
  margin-bottom: 0px;
}


.slide3-phone {
  transform: rotate(40deg);
  position: absolute;
  width: 16%;
  transition: 1s ease;
}
.slide3-phone1 {
  top: -10%;
  left: 43%;
}
.slide3:hover .slide3-phone1 {
  top: -17%;
  left: 45.8%;
}
.slide3-phone2 {
  top: 90%;
  left: 23%;
}
.slide3:hover .slide3-phone2 {
  top: 68%;
  left: 34%; 
}
.slide3-phone3 {
  top: 45%;
  right: 18%;
}
.slide3:hover .slide3-phone3 {
  top: 55%;
  right: 22%;
}
.slide3-phone4 {
  top: 6%;
  left: 59%;
}
.slide3:hover .slide3-phone4 {
  top: 17%;
  left: 54.5%;
}
.slide3-phone5 {
  top: -46%;
  right: 4%;
}
.slide3:hover .slide3-phone5 {
  top: -34%;
  right: 9%;
}


.slide4-swiper {
  position: absolute;
  top: 72px;
  right: 10%;
  width: 56%;
  height: 77%;
}
.slide4 .slider-img .swiper-slide {
  background-color: white;
}
.slide4-swiper img {
  width: 100%;
}
.slide4-phone-frame {
  position: absolute;
  top: 60px;
  right: 28%;
  width: 20%;
  z-index: 2;
}





.swiper-pagination2{position:absolute;text-align:center;transition:.3s opacity;transform:translate3d(0,0,0);z-index:10}.swiper-pagination2.swiper-pagination2-hidden{opacity:0}.swiper-horizontal>.swiper-pagination2-bullets,.swiper-pagination2-bullets.swiper-pagination2-horizontal,.swiper-pagination2-custom,.swiper-pagination2-fraction{bottom:10px;left:0;width:100%}.swiper-pagination2-bullets-dynamic{overflow:hidden;font-size:0}.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet{transform:scale(.33);position:relative}.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet-active{transform:scale(1)}.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet-active-main{transform:scale(1)}.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet-active-prev{transform:scale(.66)}.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet-active-prev-prev{transform:scale(.33)}.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet-active-next{transform:scale(.66)}.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet-active-next-next{transform:scale(.33)}.swiper-pagination2-bullet{width:var(--swiper-pagination2-bullet-width,var(--swiper-pagination2-bullet-size,8px));height:var(--swiper-pagination2-bullet-height,var(--swiper-pagination2-bullet-size,8px));display:inline-block;border-radius:50%;background:var(--swiper-pagination2-bullet-inactive-color,#000);opacity:var(--swiper-pagination2-bullet-inactive-opacity, .2)}button.swiper-pagination2-bullet{border:none;margin:0;padding:0;box-shadow:none;-webkit-appearance:none;appearance:none}.swiper-pagination2-clickable .swiper-pagination2-bullet{cursor:pointer}.swiper-pagination2-bullet:only-child{display:none!important}.swiper-pagination2-bullet-active{opacity:var(--swiper-pagination2-bullet-opacity, 1);background:var(--swiper-pagination2-color,var(--swiper-theme-color))}.swiper-pagination2-vertical.swiper-pagination2-bullets,.swiper-vertical>.swiper-pagination2-bullets{right:10px;top:50%;transform:translate3d(0px,-50%,0)}.swiper-pagination2-vertical.swiper-pagination2-bullets .swiper-pagination2-bullet,.swiper-vertical>.swiper-pagination2-bullets .swiper-pagination2-bullet{margin:var(--swiper-pagination2-bullet-vertical-gap,6px) 0;display:block}.swiper-pagination2-vertical.swiper-pagination2-bullets.swiper-pagination2-bullets-dynamic,.swiper-vertical>.swiper-pagination2-bullets.swiper-pagination2-bullets-dynamic{top:50%;transform:translateY(-50%);width:8px}.swiper-pagination2-vertical.swiper-pagination2-bullets.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet,.swiper-vertical>.swiper-pagination2-bullets.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet{display:inline-block;transition:.2s transform,.2s top}.swiper-horizontal>.swiper-pagination2-bullets .swiper-pagination2-bullet,.swiper-pagination2-horizontal.swiper-pagination2-bullets .swiper-pagination2-bullet{margin:0 var(--swiper-pagination2-bullet-horizontal-gap,4px)}.swiper-horizontal>.swiper-pagination2-bullets.swiper-pagination2-bullets-dynamic,.swiper-pagination2-horizontal.swiper-pagination2-bullets.swiper-pagination2-bullets-dynamic{left:50%;transform:translateX(-50%);white-space:nowrap}.swiper-horizontal>.swiper-pagination2-bullets.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet,.swiper-pagination2-horizontal.swiper-pagination2-bullets.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet{transition:.2s transform,.2s left}.swiper-horizontal.swiper-rtl>.swiper-pagination2-bullets-dynamic .swiper-pagination2-bullet{transition:.2s transform,.2s right}.swiper-pagination2-progressbar{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination2-progressbar .swiper-pagination2-progressbar-fill{background:var(--swiper-pagination2-color,var(--swiper-theme-color));position:absolute;left:0;top:0;width:100%;height:100%;transform:scale(0);transform-origin:left top}.swiper-rtl .swiper-pagination2-progressbar .swiper-pagination2-progressbar-fill{transform-origin:right top}.swiper-horizontal>.swiper-pagination2-progressbar,.swiper-pagination2-progressbar.swiper-pagination2-horizontal,.swiper-pagination2-progressbar.swiper-pagination2-vertical.swiper-pagination2-progressbar-opposite,.swiper-vertical>.swiper-pagination2-progressbar.swiper-pagination2-progressbar-opposite{width:100%;height:4px;left:0;top:0}.swiper-horizontal>.swiper-pagination2-progressbar.swiper-pagination2-progressbar-opposite,.swiper-pagination2-progressbar.swiper-pagination2-horizontal.swiper-pagination2-progressbar-opposite,.swiper-pagination2-progressbar.swiper-pagination2-vertical,.swiper-vertical>.swiper-pagination2-progressbar{width:4px;height:100%;left:0;top:0}.swiper-pagination2-lock{display:none}



@media screen and (max-width: 1100px) {
  #waterfall {
    display: none;
  }
}


/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/

.u-form input {
  transition: 0.3s;
}
.u-form input:focus {
  outline: none;
  border-radius: 5px;
}

.phone .u-icon i{
  transition: 0.5s ease;
}
.phone:hover .u-icon i{
  color: rgb(98, 124, 240);
  transition: 0.5s ease;
}

.u-svg-link {
  transition: 0.5s ease;
  transform: scale(1.2);
}
.u-svg-link:hover {
  transform: scale(1.1);
}

.button-submit {
  font-size: 18px;
  letter-spacing: 1px;
  border: 3px solid #075299;
  padding: 12px 24px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #075299;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.button-submit:hover {
  box-shadow: inset 0 0 0 50px #075299;
}

.button-submit:focus {
  outline: none;
}




