
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #e03a3c;
  text-decoration: none;
}

a:hover {
  color: #e76668;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ED1B26;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #c5111a;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: rgba(243, 247, 255, 0);
  transition: all 0.5s;
  z-index: 997;
  padding: 10px 0;
}
#header.header-scrolled {
  padding: 0px 0;
  background: rgba(13, 30, 65, 0.425);
  box-shadow: 0px 2px 15px rgba(82, 82, 82, 0.281);
}
#header .logo img {
  max-height: 60px;
  margin-top: -3px;
  margin-right: 10px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #111111;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.514);
  text-transform: uppercase;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 7px 10px;
  margin: 10px 10px;
  position: relative;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(201, 38, 38);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar a:hover:after { 
  width: 100%; 
  left: 0; 
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
.download ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0 20px 0 0 !important;
}
.download ul li a img {
  width: 40px;
  margin: 0 10px;
  -webkit-filter: brightness(100%);
  transition: all 0.5s ease;
}

.download ul li a img:hover {
  -webkit-filter: brightness(70%);
  
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  background-color: #ffffffb0;
  padding: 5px 8px;
  color: #2b2b2b;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
  background-color: rgb(185, 41, 41);
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #111111;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #e03a3c;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #e03a3c;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../images/hero-bg.png") top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.253);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
#hero h1 {
  text-align: center;
  margin: 0;
  font-size: 52px;
  color: #fff;
}
#hero h2 {
  text-align: center;
  color: #fff;
  margin: 10px 0 0 0;
  font-size: 20px;
}
#hero h3 {
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 40px;
  color: rgb(233, 233, 233);
  padding-bottom: 5px;
  position: relative;
}
#hero h3 span {
  color: rgb(190, 30, 30);
}
#hero h3:before{
    content: "";
    position: absolute;
    width: 59%;
    height: 1px;
    bottom: 0;
    left: 20%;
    border-bottom: 4px solid rgb(190, 30, 30);
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #e03a3c;
  border: 2px solid #e03a3c;
}
#hero .btn-get-started:hover {
  background: transparent;
  border-color: #fff;
}
@media (max-width: 768px) {
  #hero {
    text-align: center;
    padding-top: 58px;
  }
  #hero .container {
    width: 90%;
  }
  #hero h1 {
    font-size: 34px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #3a4be0;
  bottom: 0;
  left: calc(50% - 25px);
}
.section-title p {
  margin-bottom: 0;
}

.section-bg {
  padding: 120px 0;
  color: #fff;
}
.section-bg:before {
  content: "";
  background: #1F305D;
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .container {
  position: relative;
  z-index: 10;
}
.about .content {
  padding: 30px 30px 30px 0;
}
.about .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}
.about .content p {
  margin-bottom: 30px;
}
.about .content .about-btn {
  padding: 8px 30px 9px 30px;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  border: 2px solid #2e6bbb;
}
.about .content .about-btn i {
  font-size: 16px;
  padding-left: 5px;
}
.about .content .about-btn:hover {
  background: #2e6bbb;
}
.about .icon-boxes .icon-box {
  margin-top: 30px;
}
.about .icon-boxes .icon-box i {
  font-size: 40px;
  color: #2e6bbb;
  margin-bottom: 10px;
}
.about .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}
.about .icon-boxes .icon-box p {
  font-size: 15px;
  color: #a7a7a7;
}
@media (max-width: 1200px) {
  .about .content {
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .about {
    text-align: center;
  }
}


/*--------------------------------------------------------------
# Video
--------------------------------------------------------------*/

.video {
  display: flex;
  align-items: center;
  justify-content: center;
}
.video iframe {
  box-shadow: 0 0 15px gray;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 6px;
  height: 420px;
  background: #172650;
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.services .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .icon-box h4 {
  font-weight: 700;
  margin: 25px 0;
  font-size: 21px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.services .icon-box img {
  width: 100%;
  max-width: 270px;
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/

.u-form input {
  transition: 0.3s;
}
.u-form input:focus {
  outline: none;
  border-radius: 5px;
}

.phone .u-icon i{
  transition: 0.5s ease;
}
.phone:hover .u-icon i{
  color: rgb(98, 124, 240);
  transition: 0.5s ease;
}

.u-svg-link {
  transition: 0.5s ease;
  transform: scale(1.2);
}
.u-svg-link:hover {
  transform: scale(1.1);
}

.button-submit {
  font-size: 20px;
  letter-spacing: 1px;
  border: 2px solid #0873d6;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #0873d6;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.button-submit:hover {
  box-shadow: inset 0 0 0 50px #0873d6;
}

.button-submit:focus {
  outline: none;
}
